.hero{
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 80px;
}

.main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
}

.heroDetails{
    width: calc(100%/2 - 10px);
    margin-top: auto;
    margin-top: 70px;
}

.list{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: start;
}

.description{
    font-size: 1.25rem;
    line-height: 1.75rem;
    max-width: 48rem;
}

.heroCarrousel{
    width: calc(100%/2 - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 810px){
    .main{
        flex-direction: column;
    }

    .hero{
        margin-top: 100px;
    }

    .heroDetails{
        width: 100%;
        text-align: center;
    }

    .heroDetails .list{
        justify-content: center;
    }

    .heroCarrousel{
        margin-top: 2.25rem;
        width: 100%;
    }
}

@media only screen and (max-width: 450px){

    .hero{
        margin-top: 60px;
    }

    .main h1{
        font-size: 2rem;
    }

    .hero{
        padding-inline: 40px;
    }

}